.container {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.galleryItem {
	padding: 0;
	margin: 0;
	align-self: center;
	margin-bottom: 4rem;
	text-align: center;
}

.galleryItemCaption {
	padding: 0;
	margin: 0.5rem 0.25rem 0;
	letter-spacing: 0.04rem;
	max-width: 75ch;
	line-height: 1.2rem;
	font-family: "Lato";
	width: 100%;
	text-align: left;
}

.galleryItemCaption p {
	padding: 0;
	margin: 0;
}


.galleryPhoto {
	ddisplay: inline-block;
}

.galleryPhotoImg {
	max-height: 100vh;
	max-width: 100%;
	height: auto;
	width: auto;
	border: 2px solid #fff;
	box-sizing: border-box;
	display: inline-block;
}

.heading {
	text-align: center;
	font-family: "Poiret One", "Helvetica", "Arial", sans-serif;
	margin: 1rem 0 2rem;
}

.itemName {
	font-weight: 700;
	text-align: left;
	font-size: 1.1rem;
	line-height: 1.4rem;
	letter-spacing: 0.04rem;
	margin: .25rem 0 0;
}

.itemCaption {
	margin: 0rem 0 0;
	letter-spacing: 0.06rem;
}

.itemCaption > p:not(:first-child) {
	margin: 0.75rem 0 0;
}

.itemCaption a {
	font-weight: 600;
}

.itemCaption blockquote {
	margin-left: 1rem;
	font-style: italic;
}

.itemCaption blockquote p {
	margin: 0.25rem 0 0;
}

