:global html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available; /* Mobile Safari hack */
    color: #f2f2f2;
    background-color: #1c1c1c;
}

:global body {
    padding: 0 0.5rem;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "Poiret One", "Helvetica", "Arial", sans-serif;
}

:global #app {
    flex: 1;
    flex-direction: column;
    display: flex;
}

:global a {
    color: inherit;
    text-decoration: none;
}

:global a:hover,
:global a:focus,
:global a:active {
    text-decoration: underline;
}

@media (--viewport-1) {
    :global html {
        font-size: 16px;
    }
}

@media (--viewport-4) {
    :global html {
        font-size: 18px;
    }
}

@media (--viewport-7) {
    :global html {
        font-size: 20px;
    }
}

