:root {
    --footer-font-size: 0.8rem;
    --title-font-size: 2rem;
    --color-main: #dbdbdb;
    --color-main-subdued: #929292;
    --color-bg: #181818;
    --vertical-spacer: 2rem;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    color: var(--color-main);
    background: var(--color-bg);
}

body {
    padding: 0 0.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


@media only screen and (min-width: 576px) {
    :root {
        --footer-font-size: 1rem;
        --title-font-size: 3rem;
        --vertical-spacer: 4rem;
    }
}


/* https://gradientsaas.blogspot.com/ */
.gradient-bg {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  height: 25rem;
  width: 100%;
  border-bottom: 1px solid #4e4e4e;
}

.gradient-bg .base {
  position: absolute; inset: 0; z-index: 0;
  background: linear-gradient(45deg, #ebeced 0%, #989ca1 16%, #71767c 38%, #393b3e 55%, #1d1e1f 84%, #030303 100%);
}

.gradient-bg .treatment {
  position: absolute; inset: -10% -14% 20%; z-index: 1;
  background-image: radial-gradient(ellipse at 79% 20%, rgba(218, 219, 221, 0.13), transparent 35%), radial-gradient(ellipse at 32% 64%, rgba(105, 127, 160, 0.30), transparent 25%);
  filter: blur(40px);
  opacity: 0.47;
  mask-image: linear-gradient(to bottom, #000 0 59%, transparent 100%);
}

.gradient-bg .glow {
  position: absolute; inset: 0; z-index: 2;
  background: radial-gradient(ellipse at 53% 4%, rgba(255,255,255,0.23), transparent 38%), radial-gradient(ellipse at 51% 36%, rgba(105, 127, 160, 0.26), transparent 42%);
}

.gradient-bg .vignette {
  position: absolute; inset: 0; z-index: 4;
  background: radial-gradient(circle at center, transparent 25%, rgba(0,0,0,0.19) 58%, rgba(0,0,0,0.86) 100%), linear-gradient(to bottom, transparent 45%, rgba(0,0,0,0.78) 100%);
}

.gradient-bg .noise {
  position: absolute; inset: 0; z-index: 5;
  mix-blend-mode: soft-light;
  opacity: 0.16;
  background-image: url("data:image/svg+xml,...turbulence...");
  background-size: 180px 180px;
}

.gradient-bg .particles {
  position: absolute; inset: 0; z-index: 3;
  background: radial-gradient(circle at 78% 74%, rgba(255, 255, 255, 0.25) 0, transparent 2px), radial-gradient(circle at 51% 12%, rgba(255, 255, 255, 0.24) 0, transparent 2px), radial-gradient(circle at 78% 41%, rgba(255, 255, 255, 0.34) 0, transparent 1px), radial-gradient(circle at 14% 77%, rgba(218, 219, 221, 0.29) 0, transparent 2px), radial-gradient(circle at 62% 47%, rgba(255, 255, 255, 0.38) 0, transparent 2px), radial-gradient(circle at 50% 51%, rgba(218, 219, 221, 0.29) 0, transparent 2px), radial-gradient(circle at 87% 14%, rgba(255, 255, 255, 0.30) 0, transparent 2px), radial-gradient(circle at 66% 60%, rgba(218, 219, 221, 0.17) 0, transparent 3px), radial-gradient(circle at 85% 80%, rgba(255, 255, 255, 0.34) 0, transparent 3px), radial-gradient(circle at 28% 17%, rgba(218, 219, 221, 0.17) 0, transparent 2px), radial-gradient(circle at 87% 56%, rgba(255, 255, 255, 0.37) 0, transparent 1px), radial-gradient(circle at 17% 44%, rgba(255, 255, 255, 0.40) 0, transparent 1px), radial-gradient(circle at 17% 13%, rgba(255, 255, 255, 0.35) 0, transparent 3px), radial-gradient(circle at 20% 37%, rgba(218, 219, 221, 0.22) 0, transparent 3px), radial-gradient(circle at 82% 62%, rgba(218, 219, 221, 0.32) 0, transparent 2px), radial-gradient(circle at 80% 38%, rgba(218, 219, 221, 0.24) 0, transparent 2px), radial-gradient(circle at 48% 32%, rgba(218, 219, 221, 0.29) 0, transparent 3px), radial-gradient(circle at 70% 75%, rgba(255, 255, 255, 0.13) 0, transparent 3px), radial-gradient(circle at 62% 82%, rgba(255, 255, 255, 0.25) 0, transparent 1px), radial-gradient(circle at 91% 74%, rgba(255, 255, 255, 0.40) 0, transparent 2px), radial-gradient(circle at 7% 32%, rgba(218, 219, 221, 0.37) 0, transparent 1px), radial-gradient(circle at 35% 80%, rgba(255, 255, 255, 0.24) 0, transparent 3px), radial-gradient(circle at 22% 47%, rgba(255, 255, 255, 0.27) 0, transparent 2px), radial-gradient(circle at 64% 73%, rgba(218, 219, 221, 0.30) 0, transparent 3px), radial-gradient(circle at 30% 73%, rgba(255, 255, 255, 0.15) 0, transparent 1px), radial-gradient(circle at 13% 66%, rgba(255, 255, 255, 0.15) 0, transparent 1px), radial-gradient(circle at 16% 50%, rgba(255, 255, 255, 0.25) 0, transparent 1px), radial-gradient(circle at 76% 31%, rgba(218, 219, 221, 0.18) 0, transparent 2px), radial-gradient(circle at 84% 57%, rgba(255, 255, 255, 0.21) 0, transparent 1px);
}

.gradient-bg .halftone {
  position: absolute; inset: 0; z-index: 6;
  mix-blend-mode: overlay;
  background-image: radial-gradient(circle at 25% 25%, rgba(105, 127, 160, 0.08) 1px, transparent 1px), radial-gradient(circle at 75% 75%, rgba(105, 127, 160, 0.06) 1px, transparent 1px);
  background-size: 12px 12px;
}


.gradient-bg-red {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  height: 25rem;
  width: 100%;
  border-bottom: 1px solid #4e4e4e;
}

.gradient-bg-red .base {
  position: absolute; inset: 0; z-index: 0;
  background: linear-gradient(45deg, #e9e5e4 0%, #c19684 16%, #aa5033 34%, #532e25 56%, #1e1614 81%, #050404 100%);
}

.gradient-bg-red .treatment {
  position: absolute; inset: 0px; z-index: 1;
  background-image: conic-gradient(from 86deg at 50% 4%, transparent 0 8%, rgba(229, 216, 210, 0.19) 10% 17%, transparent 19% 31%, rgba(221, 88, 45, 0.33) 33% 40%, transparent 42% 58%, rgba(30, 22, 20, 0.43) 60% 67%, transparent 69% 100%);
  filter: blur(22px);
  opacity: 0.45599999999999996;
  mask-image: linear-gradient(to bottom, #000 0%, #000 66%, transparent 100%);
}

.gradient-bg-red .glow {
  position: absolute; inset: 0; z-index: 2;
  background: radial-gradient(ellipse at 47% 3%, rgba(255,255,255,0.29), transparent 38%), radial-gradient(ellipse at 53% 36%, rgba(221, 88, 45, 0.21), transparent 42%);
}

.gradient-bg-red .vignette {
  position: absolute; inset: 0; z-index: 4;
  background: radial-gradient(circle at center, transparent 25%, rgba(0,0,0,0.16) 58%, rgba(0,0,0,0.89) 100%), linear-gradient(to bottom, transparent 45%, rgba(0,0,0,0.74) 100%);
}

.gradient-bg-red .noise {
  position: absolute; inset: 0; z-index: 5;
  mix-blend-mode: soft-light;
  opacity: 0.17;
  background-image: url("data:image/svg+xml,...turbulence...");
  background-size: 180px 180px;
}

.gradient-bg-red .particles {
  position: absolute; inset: 0; z-index: 3;
  background: radial-gradient(circle at 15% 31%, rgba(229, 216, 210, 0.16) 0, transparent 2px), radial-gradient(circle at 66% 69%, rgba(255, 255, 255, 0.40) 0, transparent 2px), radial-gradient(circle at 88% 61%, rgba(255, 255, 255, 0.40) 0, transparent 1px), radial-gradient(circle at 63% 51%, rgba(255, 255, 255, 0.10) 0, transparent 3px), radial-gradient(circle at 13% 72%, rgba(255, 255, 255, 0.31) 0, transparent 1px), radial-gradient(circle at 54% 47%, rgba(229, 216, 210, 0.12) 0, transparent 3px), radial-gradient(circle at 18% 32%, rgba(255, 255, 255, 0.35) 0, transparent 2px), radial-gradient(circle at 56% 46%, rgba(255, 255, 255, 0.21) 0, transparent 3px), radial-gradient(circle at 45% 73%, rgba(255, 255, 255, 0.22) 0, transparent 2px), radial-gradient(circle at 84% 76%, rgba(229, 216, 210, 0.36) 0, transparent 3px), radial-gradient(circle at 80% 53%, rgba(229, 216, 210, 0.16) 0, transparent 1px), radial-gradient(circle at 26% 55%, rgba(229, 216, 210, 0.14) 0, transparent 2px), radial-gradient(circle at 12% 64%, rgba(229, 216, 210, 0.11) 0, transparent 1px), radial-gradient(circle at 83% 79%, rgba(255, 255, 255, 0.28) 0, transparent 2px), radial-gradient(circle at 39% 41%, rgba(229, 216, 210, 0.26) 0, transparent 1px), radial-gradient(circle at 10% 64%, rgba(255, 255, 255, 0.21) 0, transparent 1px), radial-gradient(circle at 70% 72%, rgba(255, 255, 255, 0.32) 0, transparent 3px), radial-gradient(circle at 38% 42%, rgba(229, 216, 210, 0.31) 0, transparent 1px), radial-gradient(circle at 21% 29%, rgba(229, 216, 210, 0.13) 0, transparent 3px), radial-gradient(circle at 30% 72%, rgba(229, 216, 210, 0.37) 0, transparent 1px), radial-gradient(circle at 91% 69%, rgba(229, 216, 210, 0.34) 0, transparent 2px), radial-gradient(circle at 25% 18%, rgba(229, 216, 210, 0.34) 0, transparent 3px), radial-gradient(circle at 17% 88%, rgba(229, 216, 210, 0.22) 0, transparent 3px), radial-gradient(circle at 9% 26%, rgba(229, 216, 210, 0.15) 0, transparent 3px);
}

.gradient-bg-blue {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  height: 25rem;
  width: 100%;
  border-bottom: 1px solid #4e4e4e;
}

.gradient-bg-blue .base {
  position: absolute; inset: 0; z-index: 0;
  background: linear-gradient(45deg, #e8e9eb 0%, #a5abc5 19%, #4e61a0 30%, #2d354b 58%, #1e2026 77%, #040404 100%);
}

.gradient-bg-blue .treatment {
  position: absolute; inset: 0px; z-index: 1;
  background-image: repeating-linear-gradient(112deg, transparent 0 10%, rgba(213, 215, 225, 0.30) 12%, rgba(68, 98, 197, 0.39) 16%, transparent 21%), repeating-linear-gradient(154deg, transparent 0 18%, rgba(30, 32, 38, 0.53) 20%, transparent 25%);
  filter: blur(24px);
  opacity: 0.408;
  mask-image: linear-gradient(130deg, transparent 0%, #000 18%, #000 82%, transparent 100%);
}

.gradient-bg-blue .glow {
  position: absolute; inset: 0; z-index: 2;
  background: radial-gradient(ellipse at 48% 7%, rgba(255,255,255,0.26), transparent 38%), radial-gradient(ellipse at 43% 31%, rgba(68, 98, 197, 0.24), transparent 42%);
}

.gradient-bg-blue .vignette {
  position: absolute; inset: 0; z-index: 4;
  background: radial-gradient(circle at center, transparent 25%, rgba(0,0,0,0.2) 58%, rgba(0,0,0,0.82) 100%), linear-gradient(to bottom, transparent 45%, rgba(0,0,0,0.74) 100%);
}

.gradient-bg-blue .noise {
  position: absolute; inset: 0; z-index: 5;
  mix-blend-mode: soft-light;
  opacity: 0.18;
  background-image: url("data:image/svg+xml,...turbulence...");
  background-size: 180px 180px;
}

.gradient-bg-blue .particles {
  position: absolute; inset: 0; z-index: 3;
  background: radial-gradient(circle at 66% 80%, rgba(255, 255, 255, 0.32) 0, transparent 2px), radial-gradient(circle at 5% 14%, rgba(213, 215, 225, 0.29) 0, transparent 2px), radial-gradient(circle at 42% 21%, rgba(213, 215, 225, 0.17) 0, transparent 2px), radial-gradient(circle at 58% 74%, rgba(213, 215, 225, 0.27) 0, transparent 1px), radial-gradient(circle at 87% 13%, rgba(213, 215, 225, 0.33) 0, transparent 1px), radial-gradient(circle at 65% 19%, rgba(255, 255, 255, 0.19) 0, transparent 1px), radial-gradient(circle at 91% 83%, rgba(213, 215, 225, 0.28) 0, transparent 1px), radial-gradient(circle at 19% 77%, rgba(213, 215, 225, 0.23) 0, transparent 2px), radial-gradient(circle at 47% 23%, rgba(213, 215, 225, 0.38) 0, transparent 2px), radial-gradient(circle at 62% 69%, rgba(213, 215, 225, 0.35) 0, transparent 2px), radial-gradient(circle at 38% 48%, rgba(255, 255, 255, 0.34) 0, transparent 3px), radial-gradient(circle at 66% 19%, rgba(255, 255, 255, 0.24) 0, transparent 3px), radial-gradient(circle at 9% 23%, rgba(213, 215, 225, 0.33) 0, transparent 3px), radial-gradient(circle at 49% 83%, rgba(255, 255, 255, 0.14) 0, transparent 2px), radial-gradient(circle at 24% 49%, rgba(213, 215, 225, 0.22) 0, transparent 2px), radial-gradient(circle at 40% 49%, rgba(255, 255, 255, 0.37) 0, transparent 3px), radial-gradient(circle at 55% 61%, rgba(255, 255, 255, 0.13) 0, transparent 2px), radial-gradient(circle at 42% 86%, rgba(213, 215, 225, 0.20) 0, transparent 3px), radial-gradient(circle at 81% 85%, rgba(255, 255, 255, 0.38) 0, transparent 3px), radial-gradient(circle at 27% 23%, rgba(255, 255, 255, 0.39) 0, transparent 2px);
}