:root {
    --footer-font-size: 0.8rem;
    --title-font-size: 2rem;
    --color-main: #dbdbdb;
    --color-main-subdued: #929292;
    --color-bg: #181818;
    --vertical-spacer: 2rem;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    color: var(--color-main);
    background: var(--color-bg);
}

body {
    padding: 0 0.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


@media only screen and (min-width: 576px) {
    :root {
        --footer-font-size: 1rem;
        --title-font-size: 3rem;
        --vertical-spacer: 4rem;
    }
}