/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*
 * Ideal Image Slider v1.5.1
 *
 * By Gilbert Pellegrom
 * http://gilbert.pellegrom.me
 *
 * Copyright (C) 2014 Dev7studios
 * https://raw.githubusercontent.com/gilbitron/Ideal-Image-Slider/master/LICENSE
 */

.ideal-image-slider {
	position: relative;
	overflow: hidden;
}
.iis-slide {
	display: block;
	bottom: 0;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	text-indent: -9999px;
}

/* Slide effect */
.iis-effect-slide .iis-slide {
	opacity: 0;
	-webkit-transition-property: -webkit-transform;
	   -moz-transition-property: -moz-transform;
		 -o-transition-property: -o-transform;
			transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	   -moz-transition-timing-function: ease-out;
		 -o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
	-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
			transform: translateX(0%);
}
.iis-effect-slide .iis-current-slide {
	opacity: 1;
	z-index: 1;
}
.iis-effect-slide .iis-previous-slide {
	-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
			transform: translateX(-100%);
}
.iis-effect-slide .iis-next-slide {
	-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
			transform: translateX(100%);
}
.iis-effect-slide.iis-direction-next .iis-previous-slide,
.iis-effect-slide.iis-direction-previous .iis-next-slide { opacity: 1; }

/* Touch styles */
.iis-touch-enabled .iis-slide { z-index: 1; }
.iis-touch-enabled .iis-current-slide { z-index: 2; }
.iis-touch-enabled.iis-is-touching .iis-previous-slide,
.iis-touch-enabled.iis-is-touching .iis-next-slide { opacity: 1; }

/* Fade effect */
.iis-effect-fade .iis-slide {
	-webkit-transition-property: opacity;
	   -moz-transition-property: opacity;
		 -o-transition-property: opacity;
			transition-property: opacity;
	-webkit-transition-timing-function: ease-in;
	   -moz-transition-timing-function: ease-in;
		 -o-transition-timing-function: ease-in;
			transition-timing-function: ease-in;
	opacity: 0;
}
.iis-effect-fade .iis-current-slide {
	opacity: 1;
	z-index: 1;
}


#slider {
	flex: 1;
	max-height: calc(100vh - 5rem);
}

#slider > a[data-src] {
	background-size: auto 100%;
	z-index: 1;
}

#slider > .iis-previous-nav,
#slider > .iis-next-nav {
	z-index: 2;
	background-color: red;
	width: 100px;
	height: 100px;
	display: block;
	cursor: pointer;
	position: absolute;
}

#slider > .iis-previous-nav {
	left: 0;
}

#slider > .iis-next-nav {
	right: 0;
}





/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	html {
		font-size: 16px;
	}

	.image-list li {
		width: 100%;
	}

	.container {
		display: block;
	}

	.nav {
		position: relative;
		height: auto;
		width: auto;
		padding: 1.5rem 1rem 2rem;
	}

	.nav ul {
		text-align: center;
		margin-top: 2rem;
		border-bottom: 1px solid #2b2b2b;
		max-width: 50vw;
		margin: 0 auto;
		padding-bottom: 0.2rem;
	}

	.nav ul li {
		display: inline;
	}

	.nav ul li:not(:first-child) {
		padding-left: 0.4rem;
	}

	.main {
		margin-left: 0;
	}

	.feature {
		margin-top: 3rem;
	}

	.background-photo {
		margin-top: 8rem;
		min-height: 100vh;
	}

	.about {
		padding: 0 1rem;
	}

	.about .portrait {
		max-width: 150px;
		margin: 0 0.75rem 0.25rem 0;
	}

	.feature-list figcaption a {
		font-size: 2rem;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	html {
		font-size: 18px;
	}

	.image-list li {
		width: 49.9%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	html {
		font-size: 18px;
	}

	.container {
		display: flex;
	}

	.nav {
		height: 100vh;
		width: 13rem;
		padding: 1.5rem 1rem 0;
	}

	.nav hgroup {
		border-bottom: 1px solid #2b2b2b;
		padding-bottom: 1rem;
		margin-bottom: 2rem;
	}

	.nav ul {
		text-align: left;
		border-bottom: 0;
		max-width: auto;
		padding-bottom: 0;
	}

	.nav ul li {
		display: block;
	}

	.nav ul li:not(:first-child) {
		padding: 0;
	}

	.nav .last-feature {
		margin-bottom: 1rem;
	}

	.main {
		flex: 1;
	}

	.feature,
	.about,
	.contact {
		margin-top: 4rem;
	}

	.background-photo {
		margin-top: 0;
		min-height: 100vh;
	}

	.about .portrait {
		max-width: 200px;
		margin: 0 2rem 1rem 0;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	letter-spacing: 0.05rem;
	background-color: black;
}

a {
	color: inherit;
}

a:hover,
a:focus,
a:active {
	color: inherit;
}

.background-photo {
	position: absolute;
	z-index: 100;
	width: 100vw;
	height: auto;
	font-size: 0; /* remove spacing around img tags */
}

.container {
	z-index: 200;
	position: relative;
}

.nav {
	color: white;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 94%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 94%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 94%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.nav hgroup {
	margin-bottom: 1rem;
	letter-spacing: 0.1rem;
	font-family: "Marcellus SC";
}

.nav h1 {
	font-size: 1rem;
	margin-bottom: 0.3rem;
}

.nav h2 {
	font-size: 0.7rem;
	color: #969696;
}

.nav a {
	color: inherit;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	color: #daeaff;
}

.nav ul {
	text-transform: uppercase;
	line-height: 1.1rem;
	font-size: 0.8rem;
    margin-top: 1rem;
    color: #949292;
    letter-spacing: 0.02rem;
}

.main h2 {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-family: "Marcellus SC";
	text-align: center;
	margin-bottom: 1rem;
}

p {
	margin-bottom: 0.5em;
}

img {
	max-width: 100%;
	max-height: 100vh;
}

img[data-src] {
	filter: blur(5px);
	background-size: 100%;
	background-repeat: no-repeat;
}

img[data-src].lazyloaded {
	filter: none;
	background-image: none !important;
	height: auto !important;
}


.image-list {
	width: 100%;
	display: block;
	font-size: 0; /* remove spaces between li elements */
}

.image-list li {
	display: inline-block;
	width: 33.2%;
}

.image-list li picture {
	width: 100%;
}


/**
 * See: http://www.css-101.org/articles/ken-burns_effect/css-transition.php
 */

/**
 * Styling the container (the wrapper)
 * 
 * position is used to make this box a containing block (it becomes a reference for its absolutely positioned children). overflow will hide part of the images moving outside of the box.
 */

#slideshow {
	overflow: hidden;
	width: 100vw;
}

/**
 * Styling the images
 *
 * position:absolute is to put all images in a stack. Dimensions are set to increase the size of these images so their edges do not appear in the parent box when we move them inside the said box.
 * Because the images are now larger than their parent container, we use top, left and margin values to align them in the center of the box.
 * Finally, we set the transition (property and duration). Note that duration values are different for opacity and transform as we want the "fade-in" effect to be faster than the "panning" effect.
 */

#slideshow img {
    position: absolute;
    max-height: none;
    min-width: 100vw;
    left: 0;
    top: 0;
    will-change: opacity, -webkit-transform;
    will-change: opacity, -moz-transform;
    will-change: opacity, -ms-transform;
    will-change: opacity, -o-transform;
    will-change: opacity, transform;
    opacity: 0;
    background: transparent;
    animation-fill-mode: forwards;
}

/**
 * We change the point of origin using four corners so images do not move in the same direction. 
 * This technique allows us to create various paths while applying the same translate() values to all images (see the 'fx' class further below).
 */

#slideshow img,
#slideshow img.bottom-left  {
    -webkit-transform-origin: bottom left;
       -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
         -o-transform-origin: bottom left;
            transform-origin: bottom left;
}

#slideshow :nth-child(2n+1),
#slideshow img.top-right {
    -webkit-transform-origin: top right;
       -moz-transform-origin: top right;
        -ms-transform-origin: top right;
         -o-transform-origin: top right;
            transform-origin: top right;
}

#slideshow :nth-child(3n+1),
#slideshow img.top-left {
    -webkit-transform-origin: top left;
       -moz-transform-origin: top left;
        -ms-transform-origin: top left;
         -o-transform-origin: top left;
            transform-origin: top left;
}
#slideshow :nth-child(4n+1),
#slideshow img.bottom-right {
  -webkit-transform-origin: bottom right;
     -moz-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
       -o-transform-origin: bottom right;
          transform-origin: bottom right;
}

#slideshow img.top-center {
  -webkit-transform-origin: top center;
     -moz-transform-origin: top center;
      -ms-transform-origin: top center;
       -o-transform-origin: top center;
          transform-origin: top center;
}

#slideshow img.bottom-center {
  -webkit-transform-origin: bottom center;
     -moz-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
       -o-transform-origin: bottom center;
          transform-origin: bottom center;
}

@keyframes kenburns {
  0% {
  	opacity: 0;
  	transform: scale(1);
  }
  20% {
  	opacity: 1;
  }
  80% {
  	opacity: 1;
  }
  100% {
  	transform: scale(1.1);
    opacity: 0;
  }
}

#slideshow .fx {
  animation: kenburns ease-in-out 7s;
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main p {
	letter-spacing: 0.03rem;
	font-size: 0.9rem;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	color: #e0e0e0;
	text-align: justify;
	line-height: 1.4rem;
}

.feature {
	letter-spacing: 0.03rem;
}

.feature p {
	margin-top: 1.5rem;
	padding: 0 2rem;
	max-width: 37rem;
}

.feature-photo-list {
	font-size: 0; /* removes unnecessary spacing between li elements */
	margin-top: 3rem;
	width: 100%;
}

.feature-photo-list figcaption {
	font-size: 1rem; /* restores font-size */
	margin-top: 0.25rem;
}

.feature-photo-list > li {
	margin-bottom: 1rem;
}

.feature-list.fadein {
	opacity: 1;
}

.feature-list {
	width: 100;
	margin-top: 100vh;
	opacity: 0;
	background-color: black;
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
    will-change: opacity, -webkit-transition;
    will-change: opacity, -moz-transition;
    will-change: opacity, -ms-transition;
    will-change: opacity, -o-transition;
    will-change: opacity, transition;
}

.feature-list figure {
	position: relative; /* anchor for pos:abs */
}

.feature-list img {
	opacity: 0.5;
}

.feature-list figcaption {
    position: absolute;
    top: 38%;
    width: 100%;
    letter-spacing: 0.5rem;
    text-align: center;
	font-family: "Marcellus SC";
	text-transform: uppercase;
	font-size: 3rem;
}

.feature-list figcaption a {
	color: inherit;
	width: 100%;
	text-decoration: none;
	display: block;
}


.contact form {
	max-width: 500px;
	margin: 0 auto;
	font-size: 1.5rem;
}

.contact form .email,
.contact form .message {
	width: 100%;
	font-size: inherit;
	margin-bottom: 0.4rem;
	padding: 0.25rem 0.5rem;
	border: none;
	font-family: inherit;
}

.contact form .message {
	height: 13rem;
	font-family: inherit;
}

.contact form .send {
	font-size: inherit;
	cursor: pointer;
	border-radius: 3px;
    text-shadow: -1px 1px #417cb8;
    color: #fff;
    border: none;
    padding: 0.25rem 0.7rem;
    background-color: #3a6590;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.contact form .send:hover,
.contact form .send:active,
.contact form .send:focus {
	background-color: #4477ab;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.contact {
	padding-left: 1rem;
	padding-right: 1rem;
}

.about {
	max-width: 37rem;
	margin-left: auto;
	margin-right: auto;
}

.about .portrait {
	float: left;
}

.about p {
	text-align: justify;
    line-height: 1.3rem;
    margin-bottom: 1.2rem;
}

.about p:first-of-type {
	margin-top: -0.3rem;
}

.main h2::first-letter {
	font-size: 1.7rem;
}